@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --theme-clr: #E6533C;
    --text-dark: rgba(255, 255, 255, 0.5);
    --white: #FFFFFF;
    --max-width: 1152px;
    --bg-clr: #222222;
}


body {
    background-color: rgba(17, 17, 17, 1);
    color: white;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Styles Start Here */

.section__container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.section__bg {
    background-color: var(--bg-clr);
    border-radius: 1rem;
}

.section__header {
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--white);
    margin-bottom: 1rem;
}

.text__p {
    font-size: 1rem;
    color: var(--text-dark);
}

.card__header {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.btn {
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 2.8rem;
    border: none;
    margin-top: 2rem;
    margin-right: .5rem;
    white-space: nowrap;
}

.btn__primary {
    padding: 1rem 2.6rem;
    background-color: var(--theme-clr);
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
}

ul {
    list-style: none;
}



/* header style  */

header {
    background: linear-gradient(to bottom, #111111fe, #77777735, #111111fe);
}

nav {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    padding-top: 3.5rem;
}

.nav__header h2 {
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
    color: var(--theme-clr);
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
}

.nav__links li {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    padding: .6rem 1.3rem;
    border-radius: 3rem;
}

#home {
    background-color: var(--theme-clr);
}

#hamburg__icon {
    display: none;
}


/* banner style */

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner__content {
    max-width: 520px;
}



.banner__header {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1.6rem;
}


#join-btn::before {
    content: "Join Club Now!";
}

#download-btn {
    background-color: transparent;
    border: 2px solid white;
}




.banner__image {
    position: relative;

}

.banner__image__card {
    position: absolute;
    padding: 1.2rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
}

.banner__image__card1 {
    display: flex;
    gap: .3rem;
    bottom: 18%;
    left: -30%;
}

.banner__image__card1 h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.banner__image__card2 {
    top: 22%;
    right: -12%;
}

.banner__image__card2 h3 {
    font-size: 2rem;
    font-weight: 900;
}

/* Habit section Style */
/* Habit section Style */

.habit__content {
    max-width: 50vw;
    text-align: center;
    margin: 5rem auto 3rem;
    
}

.habit__card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.habit__card {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.habit__card img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Run Section Style Run Section Style Run Section Style */

.run__container {
    display: flex;
    margin-top: 8rem;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
}

.run__content {
    max-width: 30vw;
}

.run__card__container {
    width: 366px;
    height: 312px;
}

.run__image {
    width: 100%;
    height: 100%;
    background: url(../images/run-bg.jpg);
    background-position: 68% 30%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 1.3rem;
}

/* Team Section */

.team__container{
    margin-top: 8rem;
}

.team__content{
    text-align: center;
    margin-bottom: 4rem;
}

.team__card__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.3rem;
    gap: 1.5rem;
}

.team__card{
    position: relative;
    
}

.team__card img{
    width: 100%;
    border-radius: 1rem;
    opacity: 0.75;
}

.team__card .card__content{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}




@media screen and (max-width:576px) {
    .section__container {
        max-width: 90vw;
    }

    .section__header {
        font-size: 2rem;
    }

    /* Header Responsive */

    .banner__container {
        flex-direction: column;
    }

    .nav__links li {
        display: none;
    }

    .nav__links #hamburg__icon {
        display: block;
        font-size: 1.5rem;
    }

    .banner__content {
        align-self: flex-start;
    }

    .banner__content__text {
        max-width: 65vw;
    }

    .banner__header {
        margin-top: 3rem;
        font-size: 2.1rem;

    }

    .banner__btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    #join-btn::before {
        content: "Join Now!";
    }

    #download-btn {
        padding: 1rem;
    }

    .banner__image__card1 {
        left: 0;
        bottom: 48%;
    }

    .banner__image__card1 p {
        font-size: 0.8rem;
    }

    .banner__image__card1 img {
        max-width: 30px;
        height: 30px;
    }

    .banner__image__card2 {
        right: 0;
        top: 10%;
    }

    .banner__image__card2 p {
        font-size: 0.65rem;
    }

    /* habit responsive small */

    .habit__content{
        max-width: 90vw;
    }
    
    .habit__card__container {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }

    /* Run Section Responsive */

    .run__container {
        flex-direction: column;
        padding: 1.5rem;
    }

    .run__content {
        max-width: 90vw;
        margin-bottom: 1.5rem;
    }

    .run__content .btn {
        width: 100%;
    }

    .run__card__container {
        width: 287px;
        height: 170px;
        align-self: center;
    }

    .run__image {
        background-size: 200%;
    }

    /* Team section Responsive small Device */

    .team__card__container{
        grid-template-columns: 1fr;
    }

    .hide__on__small{
        display: none;
    }

}




@media screen and (min-width:577px) and (max-width: 992px) {
    .section__container {
        max-width: 90vw;
    }

    /* header responsive */

    .banner__container {
        flex-direction: column;
        margin-top: 4rem;
    }

    .banner__content {
        align-self: flex-start;
    }

    /* habit responsive Medium */

    .habit__content{
        max-width: 70vw;
    }
    
    .habit__card__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    /* run Section responsive Midium */

    .run__container{
        padding: 2rem;
    }
    
    .run__content{
        max-width: 40vw;
    }
    
    .run__card__container {
        width: 256px;
        height: 319px;
    }

    .run__image {
        background-size: 350%;
    }

}